* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  background-image: url("../img/tj-dragotta-Gl0jBJJTDWs-unsplash.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
}

nav {
  color: white;
  font-size: 2rem;
  background-color: rgba(169, 169, 169, 0.413);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
  padding-right: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}
